<!DOCTYPE html>
<html>
	
	<head>
		<title>About</title>
		<link rel="icon" href="/img/weather.png">
		<link rel="stylesheet" href="./css/styles.css">
		<script src="/js/client.js"></script>
	</head>
	
	<body>
	
		<div class="main-content">
		
			{{>header}}
			<p>This site is created by Satyaki Bose. It uses data from mapbox.com and darksky.net</p>
			<img class="potrait" src="/img/download.png">
		</div>
		{{>footer}}
	</body>
</html>